body {
  margin: 2em;
  background-color: #151934;
}

html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1 .highlight,
h3 .highlight {
  color: #18b6f6;
}

h2 {
  font-weight: 400;
  font-size: 2.2rem;

  text-align: center;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

p {
    color: white;
    margin: auto;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.hidden {
  display: none;
}

.imageView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.imageView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(113, 63, 194, 0.85);
  color: white;
  border: 1px dashed rgba(24, 182, 246, 0.7);
  z-index: 2;
  font-size: 1.2rem;
}

.highlighter {
  background: rgba(0, 108, 233, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}