section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: auto;
}

.classifier-image {
    height: 350px;
    width: auto;
    display: block;
  }

p {
    font-weight: bold;
  }

  .voting-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }